#headerImage{background-image:url("../images/bannerImage.jpg");background-size:cover;padding-bottom:15%;}
.brownText{color:#90481c;}
.altText{color:#774b2f;}
.starRating{font-size:26px;color:#90481c;}
.map-container{overflow:hidden;padding-bottom:56.25%;position:relative;height:0;}
.map-container iframe{left:0;top:0;height:100%;width:100%;position:absolute;}
