.profilePicture{
  margin-top: 14px;
}
.nameText{
  margin-bottom: 0px;
  font-size: 12px;
}

.flag-icon{
  font-size: 12px;
}

.mediaIcon{
  font-size: 12px;
  padding:2.5px;
}

.maleMedia{
  color: Blue;
}

.femaleMedia{
  color: DeepPink;
}
